.fixed-height {
    height: 150px;
    /* Adjust this value as needed */
    overflow: hidden;
    /* Optional: To handle overflow text */
    text-overflow: ellipsis;
    /* Optional: To add ellipsis for overflow text */
    // white-space: nowrap; /* Optional: To prevent text wrapping */
}

.project-card {
    background-color: black;
    color: white !important;
    border: 1px solid grey;
    transition: border-color 1.5s ease;

    &:hover {
        border: 3px solid #18d26e;
        /* Change this to your desired hover border color */
    }
}

.tech-img {
    border: 1px solid #2e2e2e !important;
}